* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #1f2937;
    flex: 1 0 auto;
    padding: 0px 85px;
    font-family: Helvetica, sans-serif;
}

.left {
    display: flex;
}

.left a {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
}

.right li a {
    color: white;
    font-weight: bold;
    font-size: 24px;
}


.header li {
    padding: 15px;
}

.content-one {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: #1f2937;
    font-family: Helvetica, sans-serif;
    color: white;
    gap: 100px;
}

.content-one-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 0;
}

.big-text {
    font-size: 48px;
}

.small-text {
    color: rgb(214, 213, 213);
}

.content-one-right {
    padding: 100px 100px;
    background-color: rgb(112, 116, 119);
    flex-shrink: 0;
}

button {
    color: white;
    background-color: #3882f6;
    padding: 5px 15px;
    font-weight: bold;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 10px;
}

.content-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif;
    margin: 50px 0px;
    gap: 50px;
    text-align: center;
}

.cards {
    display: flex;
    font-size: 12px;
    gap: 100px;
}

.card-container {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.empty {
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.title  {
    font-size: 36px;
}

.content-three {
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 20px;
    background-color: #e5e7eb;
}

.quote {
    font-size: 35px;
    font-family: Helvetica;
    font-weight: lighter;
}

.author {
    font-family: Helvetica;
    text-align: right;
    margin-right: 40px;
}

.content-four {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    color: white;
    font-family: Helvetica;
    background-color: #3882f6;
    margin: 50px 100px;
    padding: 50px;
    border-radius: 20px;
}

.content-four .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-four button {
    border: 2px solid white;
}

a {
    text-decoration: none;
    color: white;
}

.content-five {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    padding: 30px;
    background-color: #1f2937;
    color: white;
}

